.promo {
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(32, 59, 199, 0.1) 0deg,
    rgba(168, 32, 214, 0.1) 60.00000178813934deg,
    rgba(229, 36, 154, 0.1) 120.00000357627869deg,
    rgba(227, 128, 37, 0.1) 180deg,
    rgba(229, 36, 154, 0.1) 240.00000715255737deg,
    rgba(168, 32, 214, 0.1) 299.9999928474426deg,
    rgba(32, 59, 199, 0.1) 360deg
  );
  padding: 2em;
  min-height: 50svh;
  display: flex;
  overflow: hidden;
  border-radius: 1em;
  gap: 2em;

  & > * {
    flex: 1;
  }
}

.text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.icon {
  width: 3em;
  height: 3em;
}

.img {
  position: relative;

  img {
    position: absolute;
    width: 150%;
    border-radius: 1em;
  }
}

@media screen and (max-width: 50em) {
  .promo {
    display: flex;
    flex-direction: column;
    padding: 3em 3em 0;

    & > * {
      flex: 1;
    }
  }

  .text {
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  }

  .img {
    align-self: center;
    max-width: 40em;
    flex: 1;

    img {
      position: relative;
      width: 100%;
      translate: 0 2em;
    }
  }
}
