:root {
  --color-black: #000;
  --color-navy: #092c4c;
  --color-blue: #514ef3;
  --color-green: #2dc8a8;
  --color-yellow: #ffc357;
  --color-pink: #fe8084;

  --color-grey-90: #526477;
  --color-grey-70: #7e92a2;
  --color-grey-50: #d6e1e6;
  --color-grey-30: #eaeef4;
  --color-grey-10: #f6fafd;
  --color-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: "Inter", sans-serif;
  color: var(--color-grey-90);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.125em;
}
p {
  font-size: 1em;
}
span {
  font-size: 0.875em;
}

//Custom ScrollBar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-grey-50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}

//Dark Theme
@media (prefers-color-scheme: dark) {
  :root {
    --color-black: #fff;
    --color-navy: #092c4c;
    --color-blue: #514ef3;
    --color-green: #2dc8a8;
    --color-yellow: #ffc357;
    --color-pink: #fe8084;

    --color-grey-90: #dcdcdc;
    --color-grey-70: #3e3d3d;
    --color-grey-50: #2b2b2b;
    --color-grey-30: #202020;
    --color-grey-10: #161717;
    --color-white: #000;
  }
}
