:root {
  --color-black-01: #171717;
  --color-black-02: #1e1e1e;
  --color-black-03: #343434;

  --color-green: #b8fd8e;
  --color-blue: #8efdfd;
  --color-yellow: #fbfd8e;

  --color-black: #000;
  --color-grey: #757575;
  --color-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: "Inter", sans-serif;
  color: var(--color-white);
  background-color: var(--color-black-01);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  color: var(--color-white);
}

h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.125em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.125em;
}
p {
  font-size: 1em;
  color: var(--color-grey);

  span {
    color: var(--color-green);
  }
}

//Custom ScrollBar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-grey-50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}
