.card {
  background-color: var(--color-black-02);
  border-radius: 0.4em;
  padding: 2em;
  text-align: center;

  cursor: grab;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 20%;
    max-width: 10em;
  }
}

.drag {
  opacity: 0.4;
}
