.nav {
  padding: 1.5em;
  border-right: 1px solid var(--color-grey-30);
}
.links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.link {
  button {
    background-color: #c3c3c3;
  }
}

.active {
  button {
    background-color: var(--color-blue);

    img {
      fill: red;
    }
  }
}

.backdrop {
  display: none;
}

@media screen and (max-width: 45em) {
  .nav {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    background-color: var(--color-grey-10);
    height: 100%;
    transition: transform 0.3s;
    top: 0;
    z-index: 100;
  }

  .nav_open {
    transform: translateX(0%);
  }
}
