.login {
  height: 100vh;
  display: flex;
  background-color: var(--color-black-01);
  overflow: hidden;

  & > * {
    flex: 1;
  }
}

.loading {
  position: absolute;
  inset: 0;
  display: grid;
  backdrop-filter: blur(3px);
  place-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.modal {
  text-align: center;
  position: relative;
}

.form {
  width: 30em;
  display: flex;
  flex-direction: column;
  gap: 2em;

  p {
    align-self: flex-start;
  }
}

@media screen and (max-width: 35em) {
  .modal {
    width: 100%;
  }
  .form {
    width: auto;
  }
}
