.login {
  height: 100vh;
  display: flex;
  background-color: var(--color-black-01);

  & > * {
    flex: 1;
  }
}

.loading {
  position: absolute;
  inset: 0;
  display: grid;
  backdrop-filter: blur(3px);
  place-content: center;
}

.right {
  display: grid;
  place-content: center;
  flex: 1;
}

.modal {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 2em;
}

.form {
  width: 30em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  p {
    align-self: flex-start;
  }
}
