.wrapper {
  flex: 1;
  display: flex;
  gap: 2em;
  height: 100%;
  overflow: hidden;

  & > * {
    flex: 1;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mobile {
  display: none;
}

.question {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

@media screen and (max-width: 75em) {
  .mobile {
    display: block;
    flex: unset;
  }
  .wrapper {
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  .info {
    display: none;
  }
}
