.wrapper {
  flex: 1;
  display: flex;
  gap: 2em;
  overflow: hidden;

  & > * {
    flex: 1;
  }
}

.board {
  background-color: var(--color-black-02);
  border-radius: 0.5em;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.question {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;

  &_type {
    text-align: center;
    padding: 1em;
    background-color: var(--color-black-02);
    border-radius: 0.5em;
  }
}

@media screen and (max-width: 75em) {
}
