.card {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--color-black-03);

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      height: 1em;
      width: 1em;
    }
  }

  input {
    padding: 0.75em;
  }
}
.controle {
  position: absolute;
  left: 50%;
  top: 0;
  translate: -50% 0;
  cursor: grab;

  img {
    width: 2em;
    pointer-events: none;
  }
}
