.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 100svh;
}

.content {
  flex: 1;
  display: grid;
  place-items: center;
}

.loading {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  z-index: 1000;
  background-color: #3434346e;
}

.actions {
  background-color: var(--color-black-02);
  backdrop-filter: blur(100px);
  padding: 2em;
  display: flex;
  gap: 2em;
  align-items: cntetr;
  justify-content: center;
}

.indicatior {
  background-color: var(--color-black-01);
  text-align: center;
  padding: 1em;
}

.center {
  display: flex;
  flex: 1;
  height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.info {
  position: absolute;
  background-color: var(--color-black-03);
  padding: 2em;
  z-index: 100;
  width: 100%;
  height: 85%;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  border-radius: 1em 1em 0 0;

  &_header {
    align-self: flex-end;
  }

  &_text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    max-width: 50em;
  }
}

.question {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em;

  width: 100%;
  max-width: 50em;

  align-items: center;
  &_text {
    max-width: 25ch;
    text-align: center;
  }
}

.answers {
  max-width: 50em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;

  &_checked {
    background-color: var(--color-green);
    color: var(--color-black-01);
  }

  p {
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 0.4em;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  input,
  textarea {
    text-align: center;
  }
}

.indicatior {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  &_line {
    max-width: 30em;
    width: 90%;
    height: 0.5em;
    background-color: var(--color-black-03);

    &_fill {
      width: 0%;
      height: 100%;
      transform-origin: left;
      background-color: var(--color-green);
    }
  }
}
