.faq {
  display: flex;
  flex-direction: column;

  gap: 3em;

  h2 {
    font-size: 3.75em;
    color: var(--color-black-02);
    text-align: center;
  }
}

.questions {
  background-color: #f6f6f9;
  border-radius: 1em;
  padding: 2em;
}
