.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;

  span {
    background-color: var(--color-black-02);
    color: var(--color-white);
    border: 2px solid var(--color-green);
    font-weight: bold;
    border-radius: 5em;
    padding: 0.75em 1em;
    min-width: 10em;
  }
  h2 {
    font-size: 2.5em;
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: center;
  gap: 2em;

  p {
    max-width: 75ch;
  }
}

.questions {
  max-width: 75em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media screen and (max-width: 50em) {
  .header {
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  }
}
