.features {
  display: flex;
  flex-direction: column;
  gap: 5em;

  span {
    color: var(--color-green);
  }

  h2 {
    font-size: 2.5em;
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1em;

  p {
    max-width: 75ch;
  }
}

.grid {
  align-self: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1.5em;
  max-width: 75em;
  width: 100%;
}

.card {
  background: #f0eff4;
  border-radius: 0.5em;
  padding: 2em;
  display: flex;

  gap: 1.5em;

  h3 {
    color: var(--color-green);
  }

  &_img {
    width: 3em;
    height: 3em;
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h3 {
      font-size: 1.375em;
      color: var(--color-black-03);
    }
  }
}

@media screen and (max-width: 35em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
