.features {
  display: flex;
  flex-direction: column;
  gap: 5em;

  span {
    color: var(--color-green);
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1em;

  p {
    max-width: 75ch;
  }

  span {
    background-color: var(--color-black-02);
    color: var(--color-white);
    border: 2px solid var(--color-green);
    font-weight: bold;
    border-radius: 5em;
    padding: 0.75em 1em;
    min-width: 10em;
  }
}

.grid {
  align-self: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1.5em;
  max-width: 75em;
  width: 100%;
  z-index: 10;

  &_glow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;

    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: -1;
    width: 100%;

    div {
      filter: blur(5em);
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      position: relative;

      &:nth-child(1) {
        width: 20%;
        background: radial-gradient(
          50% 50% at 50% 50%,
          #fbfd8e 100%,
          rgba(178, 40, 201, 0) 100%
        );
      }

      &:nth-child(2) {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 200%;
        translate: -50% -50%;

        background: radial-gradient(
          50% 50% at 50% 50%,
          #b8fd8e 0%,
          rgba(229, 68, 114, 0) 100%
        );
      }

      &:nth-child(3) {
        width: 25%;
        background: radial-gradient(
          50% 50% at 50% 50%,
          #8efdfd 0%,
          rgba(229, 68, 114, 0) 100%
        );
      }
    }
  }
}

.card {
  background-color: var(--color-black-02);
  border-radius: 1em;
  padding: 2em;
  display: flex;

  gap: 1.5em;

  &_img {
    width: 3em;
    height: 3em;
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
@media screen and (max-width: 50em) {
  .grid_glow {
    height: 100%;
    flex-direction: column;
    rotate: 45deg;
    div {
      width: 3em;

      &:nth-child(2) {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 35em) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-black-03);
  }
}
