.hero {
  background-color: var(--color-black-01);
  overflow: hidden;
}
.content {
  max-width: 90em;
  height: 100svh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;

  gap: 2em;
  align-items: center;

  & > * {
    flex: 1;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  h1 {
    font-size: 4em;
  }

  p {
    max-width: 50ch;
  }
}

.actions {
  display: flex;
  gap: 1em;
  margin: 1em 0;

  button {
    min-width: 10em;
  }
}

.reviews {
  display: flex;
  gap: 1em;

  &_stars {
    display: flex;
    gap: 1px;
  }
}

.row {
  display: flex;
  gap: 0.4em;
  align-items: baseline;
}

.profiles {
  display: flex;
  &_icon {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--color-black-03);
    display: grid;
    place-content: center;
    outline: 2px solid white;

    &:not(&:last-child) {
      margin-right: -1em;
    }
  }
}

.screen {
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    border-radius: 1.1em;
  }
}
