.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5em;
  background-color: var(--color-white);

  section {
    max-width: 90em;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 90em) {
  .wrapper {
    section {
      padding: 0 2em;
    }
  }
}
