.grid {
  gap: 1em;
  flex: 1;
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  overflow: hidden;
}

.surveys {
  grid-row: span 6;
  grid-column: 4 / -1;
}

.invites {
  grid-column: span 2;
  grid-row: span 4;

  &_chart {
    padding: 1em;
  }

  &_content {
    flex: 1;
    display: flex;
    gap: 1em;
  }

  &_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
  }
}

.dummy {
  grid-row: span 7;
}

.charts {
  grid-row: 1 / 7;
  grid-column: 1 / 4;
}

.results {
  grid-row: 1 / 8;
  grid-column: 4 / -1;
}

.noForm {
  border-radius: 0.5em;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.new {
  background-color: var(--color-black-02);
  border: 3px dashed;
  color: var(--color-green);
  border-radius: 0.5em;
  margin-right: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background-color: var(--color-black-03);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: auto;

  &_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black-03);
    padding: 1em;
    border-radius: 0.5em;
    margin-right: 0.5em;
  }

  &_submit {
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--color-black-03);
  }
}

@media screen and (max-width: 65em) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 35em) {
  .grid {
    overflow: unset;
  }

  .invites {
    height: 27em;
    &_content {
      flex-direction: column;
    }

    &_info {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      &_card {
        text-align: center;
      }
    }
  }

  .list_item,
  .new {
    padding: 1.5em 1em;
    margin-right: 0;
  }

  .surveys,
  .results {
    max-height: 30em;
    overflow-y: auto;
  }

  .charts_content {
    height: 15em !important;
  }
}
