.input {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.label {
  align-self: start;
  color: var(--primary-navy);
  font-weight: 700;
  font-size: 1em;
}
.field {
  font-weight: 400;
  font-size: 1em;
  font-family: inherit;
  color: var(--color-grey);
  padding: 1em 1.25em;
  border-radius: 0.5em;
  border: 2px solid var(--color-black-03);
  background: var(--color-black-01);

  &::placeholder {
    text-transform: capitalize;
  }

  &:disabled {
    opacity: 0.7;
  }
}
