.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_actions {
    display: flex;
    gap: 2em;
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &_depth {
    display: flex;
    gap: 0.75em;

    p {
      text-transform: uppercase;

      span {
        color: var(--color-green);
      }
    }
  }
}

.actions {
  display: flex;
  gap: 2em;
}

@media screen and (max-width: 65em) {
  .actions {
    display: none;
  }
}
