.clients {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  align-self: stretch;

  img {
    flex: 1;
  }
}
