.btn {
  width: 5em;
  height: 5em;
  background-color: var(--color-black-03);
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #fff;
    translate: -50% -50%;
    left: 50%;
    transition: all 0.3s cubic-bezier(0.12, 0.83, 0.63, 0.95);

    &:nth-child(1) {
      top: 60%;
    }

    &:nth-child(2) {
      top: 40%;
    }
  }
}

.active {
  span {
    &:nth-child(1) {
      top: 50%;
      rotate: -45deg;
    }

    &:nth-child(2) {
      top: 50%;
      rotate: 45deg;
    }
  }
}

@media screen and (min-width: 50em) {
  .btn {
    display: none;
  }
}
