.btn {
  width: 4em;
  height: 4em;
  padding: 1.4em 1em;
  overflow: hidden;
  border-radius: 1em;
  display: none;
  z-index: 20000000;
  background-color: transparent;
  border: none;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  transition: all 0.3s;

  span {
    display: block;
    width: 80%;
    height: 2px;
    background-color: var(--color-blue);
    position: absolute;
    transform: translate(0%, -50%);
    left: 0%;
    transition: all 0.3s;

    &:nth-child(1) {
      top: 0%;
      width: 70%;
    }
    &:nth-child(2) {
      top: 50%;
      width: 50%;
    }
    &:nth-child(3) {
      top: 100%;
      width: 100%;
    }
  }
}

.active {
  transform: rotate(-180deg);
  span {
    left: 10%;

    &:nth-child(1) {
      top: 50%;
      transform: rotate(-45deg);
      width: 100%;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      top: 50%;

      transform: rotate(45deg);
      width: 100%;
    }
  }
}

@media screen and (max-width: 45em) {
  .btn {
    display: block;
  }
}
