.wrapper {
  height: 100vh;
  background-color: rgba(246, 250, 253, 0.9);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  border-bottom: 1px solid var(--color-grey-30);
  align-items: center;

  &_content {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
}

.logo {
  padding: 1.5em;
  border-right: 1px solid var(--color-grey-30);
  display: grid;
  align-self: stretch;
  img {
    width: 50px;
    height: auto;
  }
}
.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
}
