.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-01);
  display: flex;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  gap: 2em;
  padding: 2em;
  overflow: auto;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
}

@media screen and (max-width: 65em) {
  .content {
    overflow: auto;
  }
}

@media screen and (max-width: 35em) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .content {
    gap: 1em;
    padding: 2em 1em;
  }
}
