.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  transition: all 0.5s ease;
}

.hidden {
  top: -120%;
}

.actions {
  flex: 1;
  display: grid;
  place-content: end;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 1em 2em;
  max-width: 94em;
  width: 100%;
  margin: 0 auto;
}

.logo {
  flex: 1;
  a {
    display: flex;
    gap: 1em;
    align-items: center;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex: 2;

  &_item {
    border-radius: 0.25em;
    padding: 1em;
    text-transform: capitalize;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

@media screen and (max-width: 50em) {
  .actions,
  .links {
    display: none;
  }
  .logo {
    h4 {
      display: none;
    }
  }
  .header {
  }
}
